header {
  height: 80vh;
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  nav {
    background-color: rgb(245, 245, 245);
    padding: 10px;
    position: fixed;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      li {
        border-bottom: 0;
        a {
          text-decoration: none;
          color: black;
          background-color: transparent;
          &:hover {
            border-bottom: 3px solid red;
            padding-bottom: 3px;
          }
          img {
            &:hover {
              border-bottom: 2px solid red;
              padding-bottom: 3px;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}