.bgi{
    height: 100vh;
    background-image: url(../images/bgi.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    .opacity{
        background-color: rgba(27, 27, 27, 0.5);
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        h1{
            color: white;
            font-weight: 400;
        }
    }
}